lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
backups
places
auto-save-list
elpa
el-get
*~
/recentf
/projectile.cache
.mc-lists.el
.lsp-session-v1
helm-adaptive-history
network-security.data
projectile-bookmarks.eld
/eshell
/transient