[submodule "icicles"]
	path = icicles
	url = https://github.com/emacsmirror/icicles.git
[submodule "bookmark-plus"]
	path = bookmark-plus
	url = https://github.com/emacsmirror/bookmark-plus.git
[submodule "anything-config"]
	path = anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "tramp"]
	path = tramp
	url = https://github.com/emacsmirror/tramp.git
